<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if user_data %}
    <div class="container-fluid" id="user_info" data-user-data="{% if user_data %}true{% else %}false{% endif %}">
    Bienvenido: {{ user_data.full_name }}
        <span><button class="secondary" id="user_logout">Cerrar sesión</button></span>
    </div>
{% else %}
    <div>
        no hay registros
    </div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener el valor del atributo data-user-data
        const userInfoDiv = document.getElementById('user_info');
        const userDataExists = userInfoDiv.getAttribute('data-user-data') === 'true';

        // Ocultar el botón "Registrarme" si userDataExists es true
        if (userDataExists) {
            const signupButton = document.getElementById('user_signup');
            if (signupButton) {
                signupButton.style.display = 'none';
            }
        }

        // Manejar el evento del botón "Cerrar sesión"
        const logoutButton = document.getElementById('user_logout');
        if (logoutButton) {
            logoutButton.addEventListener('click', function() {
                // Ocultar la información del usuario y mostrar el botón "Registrarme"
                if (userInfoDiv) {
                    userInfoDiv.style.display = 'none';
                }
                const signupButton = document.getElementById('user_signup');
                if (signupButton) {
                    signupButton.style.display = 'block';
                }
            });
        }
    });
</script>

</body>
</html>
