<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if user_data %}
    <div class="container-fluid" id="user_info" data-user-data="{% if user_data %}true{% else %}false{% endif %}">
    Bienvenido: {{ user_data.full_name }}
        <span><button class="secondary" id="user_logout">Cerrar sesión</button></span>
    </div>
{% else %}
    <li>
        <button class="secondary" data-target="modal-example" onclick="toggleModal(event)" title="No hay datos de registro" id="user_singup">Registrarme</button>
    </li>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener el valor del atributo data-user-data
        const userInfoDiv = document.getElementById('user-info');
        const userDataExists = userInfoDiv.getAttribute('data-user-data') === 'true';

        // Ocultar el botón si userDataExists es true
        if (userDataExists) {
            const registroButton = document.getElementById('registro');
            registroButton.style.display = 'none';
        }
    });
</script>

</body>
</html>
